{% extends 'base.html' %}

{% load static %}

{% block title %} 
	Добро пожаловать!
{% endblock %}

{% block content %}

<div class="cover-container d-flex w-100 text-center p-3 mx-auto flex-column">
	<div class="text-center">
		<img class="prob" src="{% static 'images/фламинго.jpg' %}"  width="350px" height="350px">
	</div>
	
 	<main class="trun">
	    <h1>Добро пожаловать!</h1>
	    <p class="lead">Расскажу немного о себе....</p>
	    <p class="lead">Ну а пока я жду контент, почитайте стихи!</p>
	</main>

</div>
<div class="poems">
	<p>Я иду долиной. На затылке кепи,</p>
	<p></p>В лайковой перчатке смуглая рука.</p>
	<p></p>Далеко сияют розовые степи,</p>
	<p></p>Широко синеет тихая река.</p>
	<br>
	<p>Я — беспечный парень. Ничего не надо.</p>
	<p></p>Только б слушать песни — сердцем подпевать,</p>
	<p></p>Только бы струилась легкая прохлада,</p>
	<p></p>Только б не сгибалась молодая стать.</p>
	<br>
	<p>Выйду за дорогу, выйду под откосы —</p>
	<p></p>Сколько там нарядных мужиков и баб!</p>
	<p></p>Что-то шепчут грабли, что-то свищут косы…</p>
	<p></p>“Эй, поэт, послушай, слаб ты иль не слаб?</p>
	<br>
	<p>На земле милее. Полно плавать в небо.</p>
	<p></p>Как ты любишь долы, так бы труд любил.</p>
	<p></p>Ты ли деревенским, ты ль крестьянским не был?</p>
	<p></p>Размахнись косою, покажи свой пыл”.</p>
	<br>
	<p>Ах, перо — не грабли, ах, коса — не ручка,—</p>
	<p></p>Но косой выводят строчки хоть куда.</p>
	<p></p>Под весенним солнцем, под весенней тучкой</p>
	<p></p>Их читают люди всякие года.</p>
	<br>
	<p>К черту я снимаю свой костюм английский.</p>
	<p></p>Что же, дайте косу, я вам покажу —</p>
	<p></p>Я ли вам не свойский, я ли вам не близкий,</p>
	<p></p>Памятью деревни я ль не дорожу?</p>
	<br>
	<p>Нипочем мне ямы, нипочем мне кочки.</p>
	<p></p>Хорошо косою в утренний туман</p>
	<p></p>Выводить по долам травяные строчки,</p>
	<p></p>Чтобы их читали лошадь и баран.</p>
	<br>
	<p>В этих строчках — песня, в этих строчках — слово.</p>
	<p></p>Потому и рад я в думах ни о ком,</p>
	<p></p>Что читать их может каждая корова,</p>
	<p></p>Отдавая плату теплым молоком.</p>
</div>

{% endblock %}