<nav class="navbar sticky-top navbar-dark bg-light: #fff">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse" id="navbarToggleExternalContent">
        <ul class="bg-light: #fff p-4">
          <span><a href="{% url 'home' %}" class="link-secondary">Обо мне</a></span>
          <br>
          <span><a href="{% url 'work' %}" class="link-secondary">Мои работы</a></span>
          <br>
          <span><a href="{% url 'connection' %}" class="link-secondary">Связаться со мной</a></span>
        </ul>
      </div>
</nav>